@{
    ViewBag.Title = "About";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" name="viewport" content="width=device-width, initial-scale=1" />
    <link href="company.css" type="text/css" rel="stylesheet" />
</head>
<style>

    body {
        margin: 0;
        font-family: Arial;
    }

    #templatemo_header_wrapper {
        height: 90px;
    }

    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;
    }

    .about-section {
        padding: 50px;
        text-align: center;
        background-color: #474e5d;
        color: white;
    }

    .container {
        padding: 0 16px;
    }

        .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
        }

    .title {
        color: grey;
    }

    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }

        .button:hover {
            background-color: #555;
        }

    #partial {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #1d2120;
    }

        #partial li {
            float: left;
        }

            #partial li a {
                display: block;
                color: white;
                text-align: center;
                padding: 16px;
                text-decoration: none;
            }

                #partial li a:hover {
                    background-color: #111111;
                }
</style>
<body>
    </div>
    <!-- Top Menu Start -->
    <div id="templatemo_header_wrapper">
        <div id="templatemo_header">
            <div id="site_logo">

            </div>

            <div id="templatemo_menu">
                <div id="templatemo_menu_left"></div>
                <ul>
                    <li><a href="/Home/Home" class="current">Home</a></li>
                    <li><a href="/Products/Index">Products</a></li>
                    <li><a href="/Home/Gallery">Gallery</a></li>
                    <li><a href="/Home/Company">Company</a></li>
                    <li><a href="/Home/Contact">Contact</a></li>
                    <li class="last cart-image"><a href="@Url.Action("Index","AddToCart")"><img src="~/Content/Images/cart-lime.png" alt="" /><span style="color:red">@Session["count"]</span></a></li>
                </ul>

            </div>
            <ul id="partial">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>

    </div>

    </div>
    <!-- End of Top Menu-->



    <div id="templatemo_content_wrapper">
        <div id="templatemo_content">

            <!-- Content Area -->
            <div id="column_w530">
                <div class="header_02">About Us!</div>

                <div class="about-section">
                    <h1>About Us</h1>
                    <p>Hristijan, Andrej and Gorazd are the owners of the HAG company.</p>
                    <p>Now we are working on a project for our university.</p>
                </div>

                <h2 style="text-align:center">Our Team</h2>
                <div class="row">
                    <div class="column">
                        <div class="card">
                            <img src="~/Content/Images/user.jpg" alt="Jane" style="width:100%" />
                            <div class="container">
                                <h2>Hristijan Mirchevski</h2>
                                <p class="title">CEO & Founder</p>

                                <p>hm@hag.com</p>

                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="card">
                            <img src="~/Content/Images/user.jpg" alt="Mike" style="width:100%" />
                            <div class="container">
                                <h2>Andrej Petrushev</h2>
                                <p class="title">CEO & Founder</p>

                                <p>ap@hag.com</p>

                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="card">
                            <img src="~/Content/Images/user.jpg" alt="John" style="width:100%" />
                            <div class="container">
                                <h2>Gorazd Dimovski</h2>
                                <p class="title">CEO & Founder</p>

                                <p>gd@hag.com</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="cleaner"></div>
            </div>
            <!-- End of Content Area -->
            <!-- Right Sidebar -->
            <div id="column_w300">

                <div class="header_03">Latest News</div>

                <div class="column_w300_section_01">
                    <div class="news_image_wrapper">
                        <img src="~/Content/Images/cotton.jpg" alt="image" />
                    </div>

                    <div class="news_content">
                        <div class="news_date">OCT 29, 2048</div>
                        <div class="header_04"><a href="#">Organic materials</a></div>
                        <p>We use only organic materials for our products.</p>
                    </div>

                    <div class="cleaner"></div>
                </div>

                <div class="column_w300_section_01 even_color">
                    <div class="news_image_wrapper">
                        <img src="~/Content/Images/team.jpg" alt="image" />
                    </div>

                    <div class="news_content">
                        <div class="news_date">OCT 28, 2048</div>
                        <div class="header_04"><a href="#">Our factories</a></div>
                        <p> Feel the atmosphere inside our factories.</p>
                    </div>

                    <div class="cleaner"></div>
                </div>

                <div class="column_w300_section_01">
                    <div class="news_image_wrapper">
                        <img src="~/Content/Images/zara.png" alt="image" />
                    </div>

                    <div class="news_content">
                        <div class="news_date">OCT 27, 2048</div>
                        <div class="header_04"><a href="#">Our Partners</a></div>
                        <p> We started our partnership with one of the biggest clothing brands, Zara.</p>
                    </div>

                    <div class="cleaner"></div>
                </div>

                <div class="cleaner"></div>
            </div>
            <!-- End of Right Sidebar -->

            <div class="cleaner"></div>
        </div>
    </div>

    <!-- Footer -->
    <div id="templatemo_footer_wrapper">

        <div id="templatemo_footer">

            <div class="section_w180">
                <div class="header_05">Services</div>
                <div class="section_w180_content">
                    <ul class="footer_menu_list">
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Cum sociis</a></li>
                        <li><a href="#">Donec quam</a></li>
                        <li><a href="#">Nulla consequat</a></li>
                        <li><a href="#">In enim justo</a></li>
                    </ul>
                </div>
            </div>

            <div class="section_w180">
                <div class="header_05">About</div>
                <div class="section_w180_content">
                    <ul class="footer_menu_list">
                        <li><a href="#">Nullam quis</a></li>
                        <li><a href="#">Sed consequat</a></li>
                        <li><a href="#">Cras dapibus</a></li>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Cum sociis</a></li>
                    </ul>
                </div>
            </div>

            <div class="section_w180">
                <div class="header_05">Cool links</div>
                <div class="section_w180_content">
                    <ul class="footer_menu_list">
                        <li><a href="#">Aenean vulputate</a></li>
                        <li><a href="#">Etiam ultricies</a></li>
                        <li><a href="#">Nullam quis</a></li>
                        <li><a href="#">Sed consequat</a></li>
                        <li><a href="#">Cras dapibus</a></li>
                    </ul>
                </div>
            </div>

            <div class="section_w180">
                <div class="header_05">Contact</div>

                <div class="section_w180_content">

                    <ul class="footer_menu_list">
                        <li><a href="#">Donec quam</a></li>
                        <li><a href="#">Nulla consequat</a></li>
                        <li><a href="#">In enim justo</a></li>
                        <li><a href="#">Aenean vulputate</a></li>
                        <li><a href="#">Etiam ultricies</a></li>
                    </ul>
                </div>
            </div>

            <div class="section_w180">
                <div class="header_05">Partners</div>
                <div class="section_w180_content">
                    <ul class="footer_menu_list">
                        <li><a href="http://www.templatemo.com" target="_parent">CSS Templates</a></li>
                        <li><a href="http://www.flashmo.com" target="_parent">Flash Websites</a></li>
                        <li><a href="http://www.templatemo.com/page/2" target="_parent">Website Templates</a></li>
                        <li><a href="http://www.webdesignmo.com" target="_parent">Web Design Tips</a></li>
                        <li><a href="http://www.photovaco.com" target="_blank">Free Stock Photos</a></li>
                    </ul>
                </div>
            </div>

            <div class="margin_bottom_20"></div>
            Copyright © 2048 <a href="#">Your Company Name</a> | <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
            <div class="cleaner"></div>
        </div>

    </div>
    <!-- End of Footer -->

</body>

</html>